<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coinview</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
    <h2>{{ title }}</h2>
    <div id="chart"></div>

    <div id="trades"></div>

    <div id="my_balances">
        <h2>Balances</h2>

        <table>
        {% for balance in my_balances %}
        <tr>
            <td>
                {{ balance['asset'] }}
            </td>
            <td>
                {{ balance['free'] }}
            </td>
        </tr>
            
        {% endfor %}
        </table>
       
    </div>
    <h3>Settings</h3>

    <div id="settings">
        <input type="checkbox">RSI
        <input type="text" id="rsi_length" name="rsi_length" placeholder="14">Overbought
        <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70">Oversold
        <input type="text" id="rsi_oversold" name="rsi_oversold" 
        placeholder="30">
    </div>

    
    <script>
        // var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@trade");
        // console.log(binanceSocket)

        var tradeDiv = document.getElementById("trades")

        // binanceSocket.onmessage = function (event) {
        //     console.log(event.data);

        //     var massageObject = JSON.parse(event.data)

        //     tradeDiv.append(massageObject.p)

        // }
    </script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
</body>

</html>